.outside {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.about {
  width: 50vw;
  padding: 2rem;
}
/*  */

@media screen and (max-width: 550px) {
  .outside {
    display: block;
  }
  .about {
    width: 100vw;
  }
}
