.Acard-body {
  margin-top: 10px;
  padding-right: 30px;
}

.car {
  width: 565px;
  height: 400px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img-to {
  height: 200px;
  width: 550px;
  object-fit: cover;
}
.ikoni {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.c {
  height: 90px;
  width: 500px;
  overflow: hidden;
}
.slide-container {
  height: 200px;
  width: 560px;
}
.image-container {
  position: relative;

  img {
    position: absolute;
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &:nth-of-type(1) {
      animation-delay: 6s;
    }
    &:nth-of-type(2) {
      animation-delay: 4s;
    }
    &:nth-of-type(3) {
      animation-delay: 2s;
    }
    &:nth-of-type(4) {
      animation-delay: 0;
    }
  }
}

@keyframes multiple-image-crossfade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 550px) {
  .card-img-to {
    width: 90vw;
    height: 150px;
  }
  .car {
    width: 100vw;
    height: 300px;
  }
  .c {
    width: 80vw;
  }
}
