.yes {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.563),
    rgba(243, 7, 137, 0.596)
  );
  padding-top: 100px;
  padding-left: 100px;
}
.lls {
  width: 500px;
}
.ddg {
  height: 200px;
}
.mm {
  padding-top: 10px;
}
a {
  color: black;
  text-decoration: none;
}
.rr {
  padding-top: 10px;
}
.po {
  height: 20px;
}
@media screen and (max-width: 550px) {
  .yes {
    width: 100vw;
    padding-top: 10px;
    padding-left: 10px;

    height: auto;
  }
  .lls {
    width: 90vw;
    margin: auto;
  }
}
