#container h5 {
  color: #ee0ec99f;

  /* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
  font-family: "Playfair Display", serif;

  letter-spacing: 2px;
  font-size: 2em;
  margin: 0;
}
#container p {
  font-family: "Farsan", cursive;
  margin: 3px 0 1.5em 0;
  font-size: 1.3em;
  color: #7d7d7d;
}

#container input {
  /* 	background: rgba(255, 13, 254, 0.90); */
  width: 210px;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: #eee;
  padding: 1em 2em;
  outline: none;
  border: none;
  color: #222;
  transition: 0.3s linear;
}
::placeholder {
  color: #999;
}
#container input:focus {
  background: rgba(0, 0, 333, 0.1);
}
.teke {
  display: flex;
  justify-content: space-between;
}
.reject {
  background-color: #ed0a3f;
  font-family: "Abel", sans-serif;
  padding: 0.5em 1.9em;
  margin: 2.3em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
}
.choose {
  background-image: linear-gradient(
    to left,
    rgba(255, 146, 202, 0.75) 0%,
    rgba(145, 149, 251, 0.86) 100%
  );
  font-family: "Abel", sans-serif;
  padding: 0.5em 1.9em;
  margin: 2.3em 0 0 0;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;
}
#container button:hover {
  transform: translatey(2px);
}
#container button:active {
  transform: translatey(5px);
}
@media screen and (max-width: 550px) {
  .reject {
    padding: 0.5em 0.5em;
    margin: 1.5em 0 0 0;
  }
  .choose {
    padding: 0.5em 0.5em;
    margin: 1.5em 1em 0 0;
  }
}
