@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Long+Cang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html,body{
  max-width: 100%;
  overflow-x: hidden;
}
.pl {
  width: 50vw;
  margin: auto;
  font-family: "DM Serif Display", serif;
  font-size: 20px;
}
.we {
  height: 20px;
  width: 100vw;
}
.pl h2 {
  text-transform: uppercase;
  font-family: "Newsreader", serif;
  font-weight: bolder;
}
.ff {
  margin-left: 50px;
}
.tt {
  font-family: "Newsreader", serif;
  font-weight: bolder;
  font-size: 60px;
}
.greatness {
  width: 50vw;
  margin: auto;
  /* font-family: "DM Sans", sans-serif; */
  font-family: "DM Serif Display" !important;
  font-weight: 100px;
}
.fa-paper-plane {
  font-size: 20px;
  margin: 0 10px;
}
.btn {
  margin-top: 20px;
}
.yt {
  width: 50vw;
  margin-left: 100px;
  margin-bottom: 20px;
}
.be-comment {
  width: 70vw;
  margin-left: 20px;
}
.fo {
  margin-left: 0 !important;
  padding: 0 !important;
}
.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  /* padding: 50px 40px; */
  border: 1px solid #ffffff;
}

.comments-title {
  font-size: 16px;
  color: #262626;
  margin-bottom: 15px;
  font-family: "Conv_helveticaneuecyr-bold";
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}
.hey {
  position: absolute;
  color: #ffffff;
  display: table;
  width: 80vw;
  margin-left: 20px;
}
.very {
  display: table-row;
}
.fg {
  display: table-cell;
  vertical-align: middle;
}
.tt {
  display: table-row;
  vertical-align: middle;
}
.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
  font-family: "Conv_helveticaneuecyr-bold";
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 5px 20px 5px;
}
.carrier {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

@media screen and (max-width: 550px) {
  .be-comment {
    width: 90vw;
  }
  .carrier {
    width: 60vw;
  }
  .very {
    width: 100vw;
  }
  .yt {
    width: 90vw;
    margin-left: 0;
  }
  .greatness {
    width: 90vw;
  }
  .ff {
    margin-left: 0;
  }
}
