.greatness {
  width: 50vw;
  margin: auto;
}
.ff {
  margin-left: 50px;
}

.fa-paper-plane {
  font-size: 20px;
  margin: 0 10px;
}
.yt {
  width: 50vw;
  margin-left: 20px;
  margin-bottom: 20px;
}
.be-comment {
  width: 70vw;
  margin-left: 20px;
}
.fo {
  margin-left: 0 !important;
  padding: 0 !important;
}
.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  /* padding: 50px 40px; */
  border: 1px solid #ffffff;
}

.comments-title {
  font-size: 16px;
  color: #262626;
  margin-bottom: 15px;
  font-family: "Conv_helveticaneuecyr-bold";
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
  font-family: "Conv_helveticaneuecyr-bold";
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 5px 20px 5px;
}
.carrier {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
  .be-comment {
    width: 90vw;
  }
  .yt {
    width: 90vw;
  }
  .greatness {
    width: 90vw;
  }
}
