@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
.Acard-body {
  margin-top: 10px;
  padding-right: 30px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.gds {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.psa {
  font-size: 22px;
  color: #a841a3;
}
.card1 {
  width: 270px;
  height: 305px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top {
  height: 150px;
  width: 260px;
  object-fit: cover;
}
.tran h3 {
  font-style: italic;
  font-weight: bolder;
  color: black;
  font-family: "DM Serif Display", serif;
  /* font-family: "Advent Pro", sans-serif; */
  font-size: 25px;
}
.ikoni {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.ca {
  height: 45px;
  width: 220px;
  overflow: hidden;
}
.slide-containe {
  height: 150px;
  width: 240px;
}

@media screen and (max-width: 550px) {
  .card-img-top {
    width: 85vw;
    height: 150px;
  }
  .card1 {
    width: 90vw;
    height: 300px;
  }
  .slide-containe {
    width: 85vw;
  }
  .ca {
    width: 80vw;
  }
}
