@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
.kl {
  height: 1000px;
  width: 98.8vw;
}
.kali {
  width: 98.8vw;
  height: 50vw;
  background-color: black;
  text-align: center;
}
.pic {
  width: 35vw;
  height: 100vh;
  background: url("../../images/grace.jpeg");
  background-size: 100% 100%;
  margin: auto;
}
.hj {
  position: absolute;
  margin: auto;
  margin-top: 300px;
  margin-left: 0px;
  color: rgba(194, 21, 151, 0.979);
  font-family: "Playfair Display", serif;
  font-size: 90px;
  font-weight: bolder;
  font-style: italic;
}
.cont {
  color: white;
  width: 100vw;
  text-align: center;
}
.dg {
  width: 40vw;
  margin: auto;
  border-bottom: 2px solid rgba(226, 207, 207, 0.849);
  box-shadow: 2px wheat;
  text-align: left;
}
@media screen and (max-width: 550px) {
  .pic {
    width: 90vw;
  }
  .kali {
    height: 100vh;
  }
  .cont {
    text-align: left;
  }
  .dg {
    margin-left: 20px;
  }
  .kl {
    height: 700px;
  }
  .hj {
    margin-top: 200px;
  }
}
