.kl {
  height: 1000px;
  width: 100vw;
}
.kali {
  width: 98.8vw;
  height: 50vw;
  background-color: brown;
  text-align: center;
}
.pic {
  width: 40vw;
  height: 100vh;
  background: url("../../images/grace.jpeg");
  background-size: 100% 100%;
  margin: auto;
}
.hj {
  position: absolute;
  margin: auto;
  margin-top: 100px;
  margin-left: 200px;
  color: white;
}
.cont {
  color: white;
  width: 100vw;
  text-align: center;
}
.dg {
  width: 40vw;
  margin: auto;
  border-bottom: 2px solid rgba(226, 207, 207, 0.849);
  box-shadow: 2px wheat;
  text-align: left;
}
@media screen and (max-width: 550px) {
  .pic {
    width: 90vw;
  }
  .kali {
    height: 100vh;
  }
  .cont {
    text-align: left;
  }
  .dg {
    margin-left: 20px;
  }
  .kl {
    height: 700px;
  }
  .hj {
    margin-left: 100px;
  }
}
