@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Roboto+Condensed&display=swap");

.aboutB h2 {
  font-family: "Carter One", cursive;
  text-align: center;
}
.aboutB {
  width: 60vw;
  margin: auto;
}
.tr p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
@media screen and (max-width: 550px) {
  .aboutB {
    width: 80vw;
  }
}
