@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
.App {
  text-align: center;
}
.hatari {
  background-color: #a841a3;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pizzes {
  font-family: "Henny Penny", cursive;
  text-align: center;
  color: #2b072586;
  /* color: blanchedalmond; */
  /* background: url(./images/plant.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  font-size: 4.5rem;
}
.svg {
  width: 200px;
  height: 100px;
  margin-top: 0;
  padding-top: 0;
}
.mzii {
  margin: 0 auto;
  width: 220px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 550px) {
  .mzii {
    background-color: white;
  }
}
