@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
.App {
  text-align: center;
}
.hatari {
  /* background-color: #a841a3; */
  /* background-color: rgba(243, 7, 137, 0.596); */
  background: linear-gradient(rgba(0, 0, 0, 0.563), rgba(243, 7, 137, 0.596)),
    url("./images/ima.jpg") no-repeat center;
  /* background: linear-gradient(
      rgba(219, 96, 96, 0.863),
      rgba(243, 7, 137, 0.596)
    ),
    url("./images/ima.jpg") no-repeat center; */
  background-size: 100% 100%;
  /* position: fixed;
  top: 0px;
  width: 100vw; */
}
.gh {
  /* margin-top: 140px; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pizzes {
  font-family: "Henny Penny", cursive;
  text-align: center;
  color: rgba(201, 31, 172, 0.69);
  /* color: #2b072586; */
  /* color: blanchedalmond; */
  /* background: url(./images/plant.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  font-size: 4.5rem;
}
.svg {
  width: 150px;
  height: 150px;
  margin-top: 0;
  padding-top: 0;
}
.mzii {
  margin: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* .mzii {
  margin: 0 auto;
  width: 220px;
  height: 150px;
   background-color: white; 
  border-radius: 5px;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 550px) {
  .mzii {
    align-items: flex-start;
  }
  .svg {
  }
}
