@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pizzes {
  font-family: "Henny Penny", cursive;
  text-align: center;
  background: url(https://static.pexels.com/photos/5782/nature-flowers-vintage-plant.jpg);
  /*   الكود المسؤال عن اضافة شفافية للنص */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 3rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
