/* fonts  */
@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Roboto+Condensed&display=swap");
.modal-dialog {
  width: 480px;

  height: 600px !important;
}
.navbar {
  background-color: #a841a3;
}
.nav-link {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  font-size: 1.3em;
  border-radius: 1rem;
}
.nav-link:hover {
  background-color: #a841a3;
}
.modal-content {
  /* 80% of window height */

  height: 50%;
}
.right {
  padding-right: 5px;
}
#container {
  background-image: linear-gradient(
    to top,
    rgba(205, 156, 242, 0.4) 0%,
    rgba(246, 255, 255, 0.71) 100%
  );
  margin: 3em;
  background: rgba(255, 255, 255, 0.95);

  padding: 1em;
}
.navbar-brand {
}

.dropdown-menu {
  background-color: #a841a3;
  border-radius: 1rem;
}
